[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2--binary = "*"
flask = "*"
sqlalchemy = "*"
python-dotenv = "*"
python-json-logger = "*"
flask-restful = "*"

[requires]
python_version = "3.7"

[dev-packages]
