[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restx = "*"
sqlalchemy = "*"
python-json-logger = "*"
pytest = "*"
requests = "*"

[requires]
python_version = ""

[dev-packages]
